/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of css reset */






body {
	background-color: #eeeeee;
}

#container {
	
}

#header {
	background-color: #1199aa; /* #17b6c3 */
	position: fixed; 
	top: 0;
	left: 0;
	width: 100%;
}

html.touch #header {
	-webkit-transition-property: margin-top;
 	-webkit-transition-duration: 0.25s;
	transition-property: margin-top;
 	transition-duration: 0.25s;
 }

#navigation {
	height: 60px;
	-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.18);
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.18);
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.18);
}

h1 {
	color: #ffffff;
	float: left;
	line-height: 60px;
	padding-left: 30px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	letter-spacing: .15em;
}

.navIcons {
	/* color: #ffffff; */
	float: right;
	line-height: 60px;
	padding: 20px 30px 0 0;
	/* font-family: 'Open Sans', sans-serif; */
}

#body {
	margin: 90px 30px 30px 30px; /* 90px for extra padding at top to compensate for fixed header */
}

.section {
	/* 
	background-color: #ffffff;
	moz-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
	*/
	max-width: 810px; /* 960px */
	margin: 15px auto 15px auto;
	padding: 30px;
	
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  	-moz-box-shadow: 0px 1px 0px #ffffff; /* Firefox 3.6 and earlier */
  	-webkit-box-shadow: 0px 1px 0px #ffffff; /* Safari and Chrome */
  	box-shadow: 0px 1px 0px #ffffff;
	
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	text-align: left;
	font-size: 2.25em;
	line-height: 1.25em;
	font-weight: 100;
	color: #1199aa;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.10);
}

h4 {
	font-family: 'Open Sans', sans-serif;
	text-align: right;
	font-size: 2em;
	line-height: 1.25em;
	font-weight: 100;
	color: #1199aa;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.10);
}

h5 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 900;
	font-size: 2.25em;
	line-height: 1.1em;
	margin-top: -.3em;
	padding-bottom: 0.7em;
	color: #dddddd;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	text-transform:uppercase;
}

p.text, li {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.75em;
	line-height: 1.5em;
	padding-bottom: 1.5em;
	color: #222222;
}

/*
ul {
	padding: 0 0 0 24px;
	list-style: outside;
	list-style-image: circle; url("../images/bullet.png")
}
*/

ul {
	list-style: none;
	margin-left: 0;
	padding-left: 1.5em;
	text-indent: -.65em;
}

ul li:before {
	content: "\00BB \0020";
}

.icon {
	height: 45px;
	width: 45px;
	margin: 0 15px 15px 0;	
	position: relative;
	cursor: pointer;
}

.background {
	height: 43px;
	width: 43px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	background: -webkit-gradient(linear, left top, left bottom, from(#e5e5e5), to(#d2d2d2));
}

.backgroundWrapper {
	position: absolute;
	left:0;
	top:0;
	height: 43px;  /* 1px padding makes it 45px */
	width: 43px;   /* 1px padding makes it 45px */
	padding: 1px;
	background: -webkit-gradient(linear, left top, left bottom, from(#d5d5d5), to(#c2c2c2));
	-moz-border-radius: 10px;
	border-radius: 10px;
	z-index: -1;
	-webkit-transition-property: opacity;
 	-webkit-transition-duration: 1s;
	transition-property: opacity;
 	transition-duration: .5s;
 	opacity: 0;
}

.icon:hover .backgroundWrapper, .icon.hover_effect .backgroundWrapper {
	opacity: 1;
}

.icon img {
	display: block;
	margin: 0 auto 0 auto;
	padding-top: 7px;
}



.underline {
	/* text-decoration: underline; */
	border-bottom: 1px solid #666666;
	/*padding-bottom: */
}

#footer {
	background-color: #444444;
	/* min-height: 120px; */
	padding-top: 54px;
	padding-bottom: 54px;
	margin-top: -31px; /* so you don't see the section divider from Examples */
}

p.footer {
	color: #dddddd;
	font-family: 'Open Sans', sans-serif;
	font-size: .9em;
	line-height: 1.8em;
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
	/* padding: 54px 30px 54px 30px; */
	
}

a {
	color: #17b6c3;
	text-decoration: none;
}



